<nav aria-label="navegação de links sociais">
    <ul class="footer_sociais">
       

        <li><a href="https://www.linkedin.com/in/emerson-jos%C3%A9-2b5374234/" target="_blank"><i class="fab fa-github"></i></a></li>
        <li><a href="https://www.instagram.com/emersonjose_16/" target="_blank"><i class="fa-brands fa-instagram" target="_blank"></i></a></li>
        <li><a href="https://github.com/emersonjosedev" target="_blank"><i class="fa-brands fa-github-alt"></i></a></li>
        <li><a href="mailto:emersonmenjob@gmail.com" target="_blank"><i class="fa-solid fa-envelope"></i></a></li>
    </ul>

    

</nav>
