<mat-grid-list cols="3" rowHeight="2:1">
    <mat-grid-tile> <iframe class="video-iframe" src="https://www.youtube.com/embed/wVtb6-nj2dw" title="LOOP WHILE EM 3 MINUTOS" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen=""></iframe></mat-grid-tile>
    <mat-grid-tile><iframe class="video-iframe" src="https://www.youtube.com/embed/SsyOlIsd90w" title="Projeto em equipe: Criando jogo da cobra em #python do zero" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen=""></iframe>
    </mat-grid-tile>
    <mat-grid-tile> <iframe class="video-iframe" src="https://www.youtube.com/embed/Cv_FEmtjt28" title="&quot;Google tradutor&quot; em Python" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen=""></iframe>
    </mat-grid-tile>
   