<main class="classe-main">
  <article aria-label="seção sobre mim" class="classe sobre">
    <div class="classe sobre_titulo">
      <h1>Sobre Mim</h1>
     <p class="sobre_desc">Profissional de TI em início de carreira, entusiasta por tecnologia e desenvolvimento de software. Atualmente, aprofundando conhecimentos em Angular, Git e GitHub, com o objetivo de contribuir para projetos de desenvolvimento web e continuar evoluindo na área de desenvolvimento front-end</p>

      <div aria-label="Seção apenas de ilustrações de botões">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
    <div class="classe sobre_info">
   

      <p><mat-icon class="icones">calendar_today</mat-icon> 21 Anos</p>
      <p><mat-icon class="icones">location_on</mat-icon> Address: Recife, Pernambuco</p>
      <p><mat-icon class="icones">phone</mat-icon> Whatsaap: 81 98728-6308</p>
      <p><mat-icon class="icones">email</mat-icon> Email: {{ email }}</p>
    </div>
  </article>
</main>
