/* SOBRE MINHAS EXPERIÊNCIAS */

.my_resume {
  color: #f7f7f7;
}

.resume_gerenico h2 i {
  margin-right: 10px;
}

.experience {
  margin-bottom: 30px;
  grid-column: 1;
  grid-row: 1;
}

.education {
  margin-bottom: 30px;
  grid-column: 2;
  grid-row: 1;
}

.resume_gerenico .experience_content div {
  animation: ladoSecao 0.5s ease-in-out forwards;
  display: none;
  background-color: #222;
  padding: 40px;
}

.resume_gerenico .experience_content div::before {
  content: "";
  display: inline-block;
  border-right: 30px solid transparent;
  border-bottom: 30px solid #222;
  top: -20px;
  left: 30px;
  position: absolute;
}

.resume_gerenico .experience_content div span {
  color: #7922ca;
  font-family: "Poppins";
  font-weight: bold;
}

.resume_gerenico .experience_content div h3 {
  font-family: "Poppins";
  margin: 10px 0;
}

.resume_gerenico .experience_content div p {
  color: #707070;
  font-size: 1.1rem;
}

.resume_gerenico .experience_content div.ativo {
  display: block;
  padding: 40px;
}

.experience_content ul li.ativo {
  color: #3e3d3d;
}

/* SOBRE CURSOS E SKILLS */

.cursos {
  margin-top: 50px;

  padding: 30px;
}

.my_skill {
  display: grid;
}

.my_skill h2 {
  padding: 10px 30px;
  border-radius: 3px;
  font-size: 1.5rem;
  font-family: "Poppins";
  background-color: #7922ca;
  justify-self: start;
  margin-bottom: 30px;
}

.skill_content {
  font-size: 1.5rem;
  grid-column: 1/2;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  margin-top: 10px;
}

.skill_content h3 {
  font-size: 1.5rem;
}

.skill_content ul {
  display: flex;
}

@media (max-width: 1089px) {
  .cursos {
    grid-template-columns: 1fr;
  }

  .cursos .my_skill h2 {
    justify-self: center;
  }

  .cursos .my_skill {
    text-align: center;
    grid-template-columns: 1fr;
    justify-self: center;
    grid-column: 1/-1;
  }
}
:host {
  --mdc-linear-progress-active-indicator-height: 6px;
  
}

/*  :host .mdc-linear-progress {
  top: 40px !important;
  height: 5px !important;
  overflow: hidden;
  color: rebeccapurple;
}
 */

