<section class="my_resume">
  <div class="sobre_titulo">
    <h1>Resumo</h1>
  </div>

  <div class="cursos">
    <div class="my_skill">
      <h2>MY SKILL</h2>
      <div class="skill_content">
        <h3>HTML-CSS-SCSS</h3>
        <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
      </div>
      <div class="skill_content">
        <h3>TS-JS</h3>
        <mat-progress-bar mode="determinate" value="30"></mat-progress-bar>
      </div>
      <div class="skill_content">
        <h3>Angular</h3>
        <mat-progress-bar mode="determinate" value="30"></mat-progress-bar>
      </div>
      <div class="skill_content">
        <h3>MySQL</h3>
        <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
      </div>
      <div class="skill_content">
        <h3>Python</h3>
        <mat-progress-bar mode="determinate" value="60"></mat-progress-bar>
      </div>

      <div class="skill_content">
        <h3>GIT/GITHUB</h3>
        <mat-progress-bar mode="determinate" value="60"></mat-progress-bar>
      </div>
    </div>
  </div>
</section>
